<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewStart</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/ToDo.css")">
</head>
<body>
    <div id="root"></div>
    <script src="@Url.Content("~/Content/Scripts/React/bundle.js")"></script>
    @RenderBody()
    <script id="__bs_script__">
    //<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
//]]></script>

</body>
</html>
