<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewStart</title>
</head>
<body>
    <div id="root"></div>
    <script crossorigin src="@Url.Content("~/Content/Scripts/React/React-dev.js")"></script>
    <script crossorigin src="@Url.Content("~/Content/Scripts/React/React-dom-dev.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/React/ToDo/ToDo.jsx")"></script>

    @RenderBody()
</body>
</html>
